div#main{
	width: 70%;
	min-height: 300px;
	margin: auto;
	overflow: hidden;
	background-color: #ccc;
	padding: 20px;
}
	h1{
		margin-bottom: 30px;
	}
	div#facebook{
		margin-top: 17px;
		float: right;
	}
	table#posts{
		width: 50%;
		overflow: hidden;
	}
		table#posts td.c2{
			padding: 10px 20px;
		}
