div#main{
	width: 70%;
	min-height: 300px;
	margin: auto;
	overflow: hidden;
	text-align: center;
	background-color: #ccc;
}
	table#posts{
		width: 50%;
		margin: auto;
		overflow: hidden;
	}
		table#posts td.c2{
			padding: 10px 20px;
		}
