div#main{
	width: 70%;
	min-height: 300px;
	margin: auto;
	overflow: hidden;
	background-color: #ccc;
	padding: 20px;
}
	h1{
		margin-bottom: 30px;
	}
	div#facebook{
		height: 300px;
		margin-top: 17px;
		float: right;
	}
		div#facebook iframe{
			float: left;
			clear: left;
			margin-bottom: 10px;
		}
	table#posts{
		width: 50%;
		overflow: hidden;
	}
		table#posts td.c2{
			padding: 10px 20px;
		}
	table#comments{
		width: 90%;
	}
		table#comments tr.comment_content td{
			width: 90%;
		}
		table#comments tr.comment_name td{
			padding-left: 20px;
			width: 90%;
			font-size: 8pt;
			border-bottom: 1px solid #888;
		}
