<p id="notice"><%= notice %></p>
<p>
<%-
content = @post.content.split("\n").join("<br />").split("\r").join("")
content = raw sanitize(simple_format(content), :tags => %w(br p) ) 
-%>
  <%= content %>
</p>
