<!DOCTYPE html>
<html>
<head>
  <title>A Modest Rebuttal</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults, 'jquery', 'jquery.fancybox' %>
  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>

</body>
</html>
